/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 15px 30px;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hero Section */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content p {
  margin-bottom: 20px;
  color: #94a3b8;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: #0ea5e9;
}

/* Features Section */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

/* Cards */
.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* 🔥 RFID LIVE SECTION */
#scan {
  font-size: 18px;
  color: #38bdf8;
  margin-top: 10px;
}

#activity {
  font-size: 18px;
  color: #22c55e;
}

/* RFID Box Styling */
.features div:last-child {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.812);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}